{
    "favicon": "/images/kanidm.svg",
    "links": [
        {
            "url": "https://github.com/kanidm/kanidm",
            "title": "Kanidm Github",
            "icon": "github.svg",
            "colour": "light"
        },
        {
            "url": "https://kanidm.com/documentation",
            "title": "Kanidm Docs",
            "icon": "kanidm.svg",
            "colour": "white"
        },
        {
            "url": "https://feedly.com",
            "title": "Feedly",
            "icon": "feedly.svg",
            "colour": "white"
        },
    ],
    "open_in_new_tab": false,
    "title": "Home Page"
}